.topBar{
    width:100%;
    height:15%;
}
html{
    height:100%;
}
body{
    height:99%; 
}
#logo{
    width:8%;
    height:100%;
}

#topBarUtility{
    display:inline-flex;
    justify-content: flex-end;
    float:right;
    
}

 #topBarUtility div{
    

    

    padding:10px;
    
    }
#linkContainer img{
    height:150px;
    width:200px;
}