body{
    background: linear-gradient(#e66465, #9198e5);
}
#topBar{
    display: flex;
    justify-content: right;
    background-color: black;
    height: 40px;
    
    
}

.landingPageWoM{
    display: flex;
    justify-content: center;
}

.midSec{
    display: flex;
    justify-content: space-around;
}

#aboutHeading{
    text-align: left;
}

#aboutContent{
    width: 800px;
    height:auto;
}

#buttonss{
    display:flex;
    justify-content: center;
}	

#adContainerLeft{
    width: 300px;
    height: 500px;
    
}
#adContainerRight{
    width: 300px;
    height: 500px;
    
}

.mostPopularServices{
    display:flex;
    justify-content: center;
}