#topBar{
	display: flex;
	justify-content: right;
	background-color: #714310;
	height: 10%;
}

.landingPageWoM{
	display: flex;
	justify-content: center;
}

.midSec{
	display: flex;
	justify-content: space-around;
}

#aboutHeading{
	text-align: center;
}

#aboutContent{
	text-align: center;
}

.LookingForButtons{
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
}

#buttonss{
	display:flex;
	justify-content: center;
}	

#adContainerLeft{
	width: 300px;
	/* height: 50%; */
	border: 2px solid #444;
	border-radius: 25px;
}
#adContainerRight{
	width: 300px;
	border-radius: 25px;
	/* height: 50%; */
	border: 2px solid #444;
}

.mostPopularServices{
	display:flex;
	text-align: center;
	justify-content: center;
}

.mpsImage{
	height: 200px;
	object-fit: cover;
	width: 300px;
	border-radius: 8px;
	border: 3px solid #64915f;
}

#mpsTable{
	display:flex;
	justify-content: center;
	table-layout: fixed;
}

#searchIconContainer{
	height: 100%;
	width: auto;
}