#userReviewsSummary{
    display:flex;
    flex-direction:column;
    
}

.userInfo{
    display:flex;
    flex-direction:row;
    padding-bottom:.5%
}
#writeReview{
    width:9%;
    background-color:white;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: black;
    font-size: .9rem;
    font-weight: 600;
    
}
#writeReview:hover{
	border: 3px solid rgb(211, 198, 172);
    cursor: pointer;
}


.review-topBlock{
    display:flex;
    flex-direction:row;
}
#reviewCount{
    display:flex;
    flex-direction:row;
    padding-bottom:.5%;
}
#reviewsPageContent{
    margin-left:3%;
}
.userInfo div{
    padding-right:2%;
    
}
.reviewerProfilePicContainer{
    width:7%;
}
.review-botBlock{
    display:flex;
    flex-direction:column;
}
.reviewTextContainer{
    width:70%;
    border:1.5px solid black;
    font-size:small;
}
.checked {
    color: orange;
  }
  .reviewerProfilePic{
    
    width:75%;


  }
  .reviewerInfo, .reviewDate{
      padding-top:.5%;
  }

#username{
    align-self:center;
    height:15px;
}
#location{
    
   align-self:center;
    padding-top:1.6%;
   padding-left: 2%;
    
}
#numReviews{
    padding-left:1%;
}
hr{
    margin-right:5%
}