#profileInfo{
    display:flex;
    justify-content:space-evenly;

}
#projectContent{
    display:flex;
    justify-content:space-evenly;
    gap:20px;
}
#profileContent{
    margin-left:3%;
}
#profilePic{
    width:30%;
    margin-right:1%;

}
#userImg{
    width:100%;
    
}
.projectPhoto{
    width:25%;
}