{% extends "base.html"%}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="../static/JS/resultsPageJS.js"></script>
<link rel = "stylesheet" href = "../static/CSS/searchBar.css">
<link rel = "stylesheet" href = "../static/CSS/addReview.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<!--search bar-->
<br>    <br>
<form id="searchContainer" method="post">
    <label for="search" id="searchLabel"> Find </label>
    <input name="search" type="text" id="searchBar" placeholder="gardener, plumber, painter... ">
    <script>
        if (document.getElementById("searchBar").value == null) {


        } else {
            document.getElementById("searchBar").value = sessionStorage.getItem("searchItem");
        }
    </script>
    <label for="locationBar" id="locationLabel"> Near </label>
    <input name="locationBar" type="text" id="locationBar" placeholder="Fresno,CA">
    <div id="filterContainer">filter paceholder</div>

    <div id="searchButtonContainer"><input type="submit" name="searchButton" id="searchButton" onclick = "setSearchTerm()"> </div>
</form>
<br>
<!--search bar-->
<section id = "content">
    <article id="reviewContent">
        <header id = "theReviewedInfo">
            <h2 id = "userName">Johnny Doe</h2>
            <h2 id  = "separator">-</h2>
            <h2 id = "userLocation">Fresno</h2>
            
        </header>
        <form id = "reviewForm">
        <div id = "starSelector">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>

        </div>
        <div id ="reviewerInfo">
            <div id = "reviewerName"></div>
            <div id = "reviewerLocation"></div>
        </div>
        <textarea id = "reviewArea"></textarea>
        <button id = "postReview">Post Review</button>
        </form>
    </article>  
    <section id = "recentReviews">
        <h3>Recent Reviews</h3>

        <article class = 'r-review'>
            <p class = "r-review-userName"></p>
            <div class = "r-review-info">
                <div class = "r-review-stars"></div>
                <div class = "r-review-date"></div>
                <textarea class = "r-review-content"></textarea>
            </div>

        </article>
    </section>
</section>
{% endblock %}
