<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href = "/static/CSS/landingPageStyleSheet.css">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<style>
	html {
    height: 100%;
	}
	body {
		font-family: "Arvo";
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background: #D3D3D3
		/* background: linear-gradient(#e66465, #9198e5); */
	}
</style>
</head>
<body>
	<div  id = "topBar" >
		<img id = "logo" src = "/static/Images/logo1.png"/>
		<div id = "searchIconContainer">
			<img src = "/static/Images/search.png" id = "searchIcon" height = "100%" />
			<!-- <svg id = "searchIcon" viewBox="0 -3 100 100" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg> -->
		</div>
		<div id = "profileThumbnailContainer">
			<img src = "/static/Images/userIcon.png" id = "userIcon" height = "100%" />
		</div>	
	</div>


	<section class = "landingPageWoM" >
		<div id = "WoMContainer">
			<h1 id = "WoM">Word of Mouth</h1>
		</div>
	</section>

	<section class = "midSec">

		<div id = "adContainerLeft">

			<script src="https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.js" type="text/javascript"></script>
			
		</div>
		
			<section  id = "landingPageContentContainer" >
				<div  id = "aboutContainer">
					
					<article class = "about">
						<h4 id = "aboutHeading">About</h4>
						<p id = "aboutContent"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Consequatur dignissimos odit, sequi magni cumque quod 
							cum dolores ab illo officiis doloribus, minima aliquam sit ducimus reprehenderit iusto soluta minus provident.
						</p>
					</article>
				</div>

				<div id = "lookingForContainer">
					<table id = "buttonss">
						<tr>
							<td>	<button class = "LookingForButtons" type = "button">Looking for Help?</button></td>

							<td>	<p>or</p></td>
							<td>	<button class = "LookingForButtons" type = "button">Looking for Work?</button></td>

					
						</tr>
					</table>

					<section class ="mostPopularServices">
		
			
						<div id = "mpsContainer">
							<div id ="mpsHeadingContainer">
								<h3>Most Popular Services in</h3>
							</div>	
							<table id = "mpsTable">
								<tr>
									<td>
										<div id = "linkContainer">
											<img class = "mpsImage" src = "/static/Images/landscaping.jpeg" />
											<h5>Landscaping</h5>
										</div>
									</td>
									<td>
										<div id = "linkContainer">
											<img class = "mpsImage" src = "/static/Images/carpentry.jpeg" />
											<h5>Carpentry</h5>
										</div>
									</td>
									<td>
										<div id = "linkContainer">
											<img class = "mpsImage" src = "/static/Images/cleaningservices.jpg" />
											<h5>Cleaning Services</h5>
										</div>
									</td>
									<td>
										<div id = "linkContainer">
											<img class = "mpsImage" src = "/static/Images/plumbing.jpeg" />
											<h5>Plumbing</h5>
										</div>
									</td>
								</tr>
			
			
							</table>
							
						</div>
					
				</section>
				</div>
				
			</section>
		
		<div id = "adContainerRight">

			<script src="https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.js" type="text/javascript"></script>
			
		</div>

	</section>
</body>
</html>