<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="landingPageStyleSheet.css">
</head>
<body>
	<section class = "topBar" >
		<img id = "logo" src = "logo1.png"/>
		<div id = "topBarUtility">
			<div id = "searchIconContainer">
				<svg id = "searchIcon"width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
			</div>
			<div id = "profileThumbnailContainer">
				<img src = "userIcon.png" id = "userIcon" heigh = "30" width = "30" />
			</div>
		</div>
	</section>


	<section class = "landingPageWoM" >
		<div id = "WoMContainer">
			<h1 id = "WoM">Word of Mouth</h1>
		</div>
	</section>

	<section class = "midSec">
		<div id = "adContainerLeft">
			
		</div>
		
			<section  id = "landingPageContentContainer" >
				<div  id = "aboutContainer">
					
					<article class = "about">
						<h4 id = "aboutHeading">About</h4>
						<p id = "aboutContent"></p>
					</article>
				</div id = "lookingForContainer">
					<table>
						<tr>
							<td>	<button type = "button">Looking for Help?</button></td>

							<td>	<p>or</p></td>
							<td>	<button type = "button">Looking for Work?</button></td>

					
						</tr>
					</table>
				
			</section>
		
		<div id = "adContainerRight">
			
		</div>

	</section>

	<section class ="mostPopularServices">
		
			
			<div id = "mpsContainer">
				<div id ="mpsHeadingContainer">
					<h3>Most Popular Services in</h3>
				</div>	
				<table id = "mpsTable">
					<tr>
						<td>
							<div id = "linkContainer">
								<img src = "../Images/landscaping.jpeg" />
								<h5>Landscaping</h5>
							</div>
						</td>
						<td>
							<div id = "linkContainer">
								<img src = "carpentry.jpeg" />
								<h5>Carpentry</h5>
							</div>
						</td>
						<td>
							<div id = "linkContainer">
								<img src = "cleaningservices.jpg" />
								<h5>Cleaning Services</h5>
							</div>
						</td>
						<td>
							<div id = "linkContainer">
								<img src = "../Images/plumbing.jpeg" />
								<h5>Plumbing</h5>
							</div>
						</td>
					</tr>


				</table>
				
			</div>
		
	</section>

		







	
</body>
</html>
