{% extends "base.html"%}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../static/CSS/profile.css">
    <link rel = "stylesheet" href = "../static/CSS/searchBar.css">
{% endblock %}

{% block content %}
    <br>    
    <form id="searchContainer" method="post">
        <label for="search" id="searchLabel"> Find </label>
        <input name="search" type="text" id="searchBar" placeholder="gardener, plumber, painter... ">
        <script>
            if (document.getElementById("searchBar").value == null) {


            } else {
                document.getElementById("searchBar").value = sessionStorage.getItem("searchItem");
            }
        </script>
        <label for="locationBar" id="locationLabel"> Near </label>
        <input name="locationBar" type="text" id="locationBar" placeholder="Fresno,CA">
        

        <div id="searchButtonContainer"><input type="submit" name="searchButton" id="searchButton" onclick = "setSearchTerm()"> </div>
    </form>
    <br>
    <section id = profileContent>
        <section id= "profileInfo">
            <div id ="profilePic">

                
                <img src = ""  id = "userImg">
                <div id = "ratings">ratings</div>

            </div>

         
        
        </section>
            <section id = "userProjects">
                <h2>Projects</h2>
                
                <article id = "projectContainer">
                    <h3></h3>
                    <div id = "projectContent">
                        <img src = "" alt = "photo1" class = "projectPhoto">
                        <img src = "" alt = "photo2" class = "projectPhoto">
                        <div id = "projectDescription">
                            <p>{{profileResult['profile']['displayName']}}</p>
                        </div>
                    </div>
                </article>
               
            </section>
    </section>


    <a href = "{{url_for('addproj')}}">Add Project</a>
    <br>
    <a href = "{{url_for('profileEdit')}}">Edit</a>
    {% endblock %}