{% extends "base.html"%}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel = "stylesheet" href = "../static/CSS/profileEdit.css">
{% endblock %}

{% block content %}
<body>
    
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    
    <Form method = "POST" enctype="multipart/form-data">
        {% if filename %}
        <div>
            <img src ="">
        </div>
        {% endif %}

        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
      



       
        <br>
            <label for="username">Username</label>
            <input type = "text" name = "username">
            <br>
            <label for = "email" name = "email"> Email</label>
            <input type = "text" for = "email" >
            <br>
            <label for = "phone" name = "phone"> Phone</label>
            <input type = "text" for = "phone" >
            <br>
            <label for = "labor" name = "labor" >labor</label>
            <input type = "text" for = "labor">
            <br>
            
            
            <input type = "submit" class = "create_profile" value = "Create Account">
       
        
    </Form>
</body>
{% endblock %}