<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Signup Page</title>

        <style>




        </style>
    </head>   
    


<body>
<div>
    <img src="\wireframes\images\corner_logo.png" align="left">
</div>
<div align="right">
    <p><a href="#">About</a> <br /> <a href="#">Login </a><br/> <a href="#">Account</a></p>
</div>

<div align="center">
    <form method = "post">
        <table>
            <tbody>
                <tr>
                    <td> Username </td>
                </tr>
                <tr>
                    <td> <input type = "text" id = "username" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td> Email </td>
                </tr>
                <tr>
                    <td> <input type = "text" id = "email" placeholder="johndoe@email.com" required></td>
                </tr>
                <tr>
                    <td> Password </td>
                </tr>
                <tr>
                    <td> <input type = "text" id = "password" placeholder="Password" maxlength="30" required></td>
                </tr>
                <tr>
                    <td> Phone Number </td>
                </tr>
                <tr>
                    <td> <input type = "text" id = "phonenumber" placeholder="x-xxx-xxx-xxxx" pattern = "[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" required></td>
                </tr>
                <tr>
                    <td>Labor (Keywords)</td>
                </tr>
                <tr>
                    <td> <input type = "text" id = "keywords" placeholder="Ex. painter, landscaper, renovator..."  required></td>
                </tr>
                <tr>
                    <td>
                        <input type = "submit" class = "create_profile" value = "Create Account">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


</body>
</html>