{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" href="../static/CSS/resultsPage.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="../static/JS/resultsPageJS.js"></script>
{% endblock %}


{% block content %}
<br><br>
<section class="midSec">

	<div class="midContent">
		<form id="searchContainer" method = "get">
			
			<label for="search" id="searchLabel"> Find </label>
			<input name="search" type="text" id="searchBar" placeholder="gardener, plumber, painter... ">
			<script>
				if (document.getElementById("searchBar").value == null) {


				} else {
					document.getElementById("searchBar").value = sessionStorage.getItem("searchItem");
				}
			</script>
			<label for="locationBar" id="locationLabel"> Near </label>
			<input name="locationBar" type="text" id="locationBar" placeholder="Fresno,CA">
			<div id="filterContainer">filter paceholder</div>

			<div id="searchButtonContainer"><input type = "submit" name="searchButton" id="searchButton"> </div>
			

		</form>

		<section id="resultsSection">
			<h1>Results</h1>

			<div id="results">
				<!--flask loop -->
				{% for users in rslts %}
				<article class="result">

					<div class="result_imageContainer">
						<img src="" class="result_profileImage">
					</div>
					<div class="result_info">
						<p class="result_userName">{{users.name}}</p>
						<p class="result_labor">{{users.labor}}</p>
						<p class="result_location">{{users.phonenumber}}</p>

					</div>
					<div class="result_stars">
					
					</div>
				</article>
				<hr>
				<!--end Flask loop-->
				{% endfor %}
			</div>

		</section>
	</div>

	<div id="adContainerRight">

	</div>

</section>
{% endblock %}