{% extends "base.html"%}
{% block head %}
	<link rel="stylesheet" href="../static/CSS/resultsPage.css">
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
   <script>

	   
  
			
</script>
{% endblock %}
   

	{% block content %}
    <br><br>
	<section class = "midSec">

        <div class = "midContent">
            <div class = "searchContainer">
                <input  type = "text" id = "searchBar" placeholder = "Search" >
				<script>
						if(document.getElementById("searchBar").value == null){

							
						}else{
							document.getElementById("searchBar").value =sessionStorage.getItem("searchItem");
						}
				</script>
                <div id = "locationServicesContainer">location services palceholder</div>
                <div id = "filterContainer" >filter paceholder</div>
				<script>
					function setSearchTerm(){
						let temp = document.getElementById("searchBar").value;
						sessionStorage.setItem("searchItem",temp )
						location.reload();
						return;
					}

				</script>
				<div id = "searchButtonContainer" ><button name = "searchButton"><img id = "searchIcon2" src = "../static/Images/search.png" onclick="setSearchTerm()"></button> </div>
				
            </div>

            <section id = "resultsSection">
                <h1>Results</h1>

                <div id = "results">
					 <!--flask loop -->
                   <article class = "result">
					  
						<div class = "result_imageContainer">
							<img src = "../static/Images/bob.jpg"class ="result_profileImage">
						</div>
						<div class = "result_info">
							<p class = "result_userName">Username</p>	
							<p class = "result_labor">labor</p>	
							<p class = "result_location">location</p>	

						</div>
						<div class = "result_stars">

						</div>
				   </article>
				<!--end Flask loop-->
                </div>

            </section>
        </div>
	
		<div id = "adContainerRight">
			
		</div>

	</section>
	{% endblock %}

	

		
