{% extends "base.html"%}
{% block head %}
<link rel = "stylesheet" href = "/static/CSS/landingPageStyleSheet.css">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
<style>

</style>
{% endblock %}
</head>

<body>
{% block content %}
    <br>
    <form method="POST">
        <label for="NLPtext">Input Text:</label>
        <input type="text" id = "NLPtext" name = "NLPtext">
        <input type="submit">
    </form>
    <br>
    <div id = "predictionContainer">
        Result:
        <br>
        <p>{{ data[0] }} -> {{ data[1] }}</p>
    </div>
{% endblock %}
</body>
